* {
  box-sizing: border-box;
}

body {
  font: 400 14px/1.6 'IBM Plex Mono', monospace;
  width: 600px;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
}

.pacecar {
  transform: translateY(0);
  transition: transform cubic-bezier(0.35, 0.19, 0.1, 0.99) 420ms;
}
.pacecar--start {
  transform: translateY(117px);
}

.logo {
  margin: -17px 0 60px 1px;
  display: flex;
  align-items: flex-end;
  opacity: 0.25;
  transition: opacity cubic-bezier(0.35, 0.19, 0.1, 0.99) 420ms;
  user-select: none;
  pointer-events: none;
}
.logo__version {
  transition: opacity cubic-bezier(0.35, 0.19, 0.1, 0.99) 420ms;
  margin-bottom: 8px;
}
.logo--start {
  opacity: 1;
}
.logo--start .logo__version {
  opacity: 0.5;
}

.page {
  margin: 60px 0 120px;
}
.page--start .page__choices {
  margin-top: 50px;
}
.page__choice {
  font: inherit;
  background: none;
  border: none;
  display: block;
  padding: 0;
  margin: 0 0 0 -16px;
  cursor: pointer;
  font-weight: 700;
  color: #006bbd;
  outline: none;
  text-decoration: none;
}
.page__choice:hover .page__choice__name,
.page__choice:focus .page__choice__name,
.page__choice:active .page__choice__name {
  text-decoration: underline;
}
.page__death {
  color: #d32200;
  font-style: italic;
}

.log__entry {
  margin: 60px 0;
  opacity: 0.25;
}
.log__entry:nth-child(1) {
  opacity: 0.75;
}
.log__entry:nth-child(2) {
  opacity: 0.5;
}
.log__choice {
  color: #006bbd;
  font-style: italic;
}
